html, body {
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  font-family: 'Roboto', 'Inter', 'Lato', sans-serif;
  color: white;  
}

a {
  text-decoration: none;
  color: #555555;
}

p {
  text-decoration: none;
  color: #999999;
}