.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.page-container .hero-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.page-container .hero-container .navbar {
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  padding: 7px 0;
  z-index: 10;
  box-shadow: -3px 4px 27px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 4px 27px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 4px 27px -5px rgba(0, 0, 0, 0.75);
}
.page-container .hero-container .navbar .nav-left {
  display: flex;
  justify-content: flex-start;
  padding: 10px 3px;
  background-color: transparent;
  font-size: 18px;
}
.page-container .hero-container .navbar .nav-right {
  display: flex;
}
.page-container .hero-container .navbar .nav-right a {
  font-size: 12px;
  background-color: transparent;
  padding: 12px 15px;
}
.page-container .hero-container .navbar .nav-right a:hover {
  cursor: pointer;
  color: #e91e63;
}
.page-container .hero-container .navbar .nav-right a:last-child {
  background-color: #e91e63;
  border-radius: 18px;
  color: white;
}
.page-container .hero-container .navbar .nav-right a:last-child:hover {
  box-shadow: 0px 5px 20px #e91e63;
}
.page-container .hero-container .navbar .nav-right a:nth-child(3) {
  color: #e91e63;
}
.page-container .hero-container .navbar .nav-right a:nth-child(3):hover {
  opacity: 0.86;
}
.page-container .hero-container .i-frame {
  display: flex;
  width: 100%;
}
.page-container .hero-container .i-frame iframe {
  width: 100%;
}
.page-container .main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.page-container .main-container .contact-section {
  width: 100%;
  display: grid;
  padding: 50px 0;
  grid-template-columns: 1.5fr 1fr;
}
.page-container .main-container .contact-section .send-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  justify-content: space-around;
  padding-left: 25%;
}
.page-container .main-container .contact-section .send-message h1 {
  color: #3c4858;
}
.page-container .main-container .contact-section .send-message .inputs {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  gap: 5px;
}
.page-container .main-container .contact-section .send-message .inputs input {
  border: 0.5px solid #3c4858;
  border-top: none;
  border-left: none;
  border-right: none;
}
.page-container .main-container .contact-section .send-message .inputs input:focus {
  outline: none;
  border: 1px solid #e91e63;
  border-top: none;
  border-left: none;
  border-right: none;
}
.page-container .main-container .contact-section .send-message .inputs .first-name {
  display: flex;
  height: 40px;
  width: 100%;
}
.page-container .main-container .contact-section .send-message .inputs .first-name input {
  height: 40px;
  width: 100%;
  font-size: 14px;
}
.page-container .main-container .contact-section .send-message .inputs .last-name {
  display: flex;
  height: 40px;
  width: 100%;
}
.page-container .main-container .contact-section .send-message .inputs .last-name input {
  height: 40px;
  width: 100%;
}
.page-container .main-container .contact-section .send-message .inputs .write {
  display: flex;
  height: 100px;
  width: 100%;
}
.page-container .main-container .contact-section .send-message .inputs .write input {
  height: 100px;
  width: 100%;
}
.page-container .main-container .contact-section .send-message .submit input {
  padding: 15px 33px;
  margin: 10px 1px;
  border: none;
  background-color: #e91e63;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
}
.page-container .main-container .contact-section .send-message .submit input:hover {
  box-shadow: -1px -2px 5px 4px rgba(233, 19, 99, 0.17);
  -webkit-box-shadow: -1px -2px 5px 4px rgba(233, 19, 99, 0.17);
  -moz-box-shadow: -1px -2px 5px 4px rgba(233, 19, 99, 0.17);
}
.page-container .main-container .contact-section .contact-info {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  padding: 10px;
}
.page-container .main-container .contact-section .contact-info p:first-child {
  color: #3c4858;
}
.page-container .main-container .contact-section .contact-info i {
  color: #e91e63;
}
.page-container .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: #323437;
  width: 100%;
  padding: 30px 0 18px;
}
.page-container .footer .left-footer {
  display: flex;
  gap: 10px;
}
.page-container .footer .left-footer a {
  color: #fff;
}
.page-container .footer .left-footer a:hover {
  opacity: 0.86;
}
.page-container .footer .right-footer a {
  color: #fff;
}/*# sourceMappingURL=contact-page.css.map */