.whole-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  

  .hero-container{
    display: flex;
    flex-direction: column;
    height: 50rem;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),url(/images/IMG_1651.jpg);
    background-size: 5rem 10rem;
    // border: 1px solid aqua;

    .navbar {
      height:5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      background-color: white;
      width:100%;
      z-index: 10;
      box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
      -webkit-box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);

      .nav-left {
        display: flex;
        justify-content: flex-start;
        margin-left: 10%;
      }
    } 
    .words-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // border: 1px solid blue;

      h1 {
        font-size: 67px;
      }

      p {
        font-size: 20px;
      }
  

      a{
        text-decoration: none;
        color: white;
        background-color: #e91e63;
        padding: 15px 33px;
        border-radius: 3px;
      }
      
    }
  }
  .main-section {
    height:100%;
    width: 97%;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: gray;
    // border: 1px solid red;
    border-radius: 25px;
    margin-top: -40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1),
      0 12px 40px 0 rgba(0, 0, 0, 0.3);

    .above-image-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 0;

      .title {
        display: flex;
        justify-content: center;

        h2 {
          color: #3c4858;
        }
      }
      .top-icons {
        display: flex;
        justify-content: center;
        gap: 4%;

        .icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
           object-fit: contain; 
          }
        }
        p {
          font-size: 14px;
          margin: 0 0 10px;
        }
        h5 {
          font-size: 18px;
          color: #3c4858;
        }
      }
    }
    
  } 
  .image-section {
    display:grid;
    max-width: 100%;
    height:300px;
    grid-template-columns: 50% 50%;
    background-image: url(/images/DSC00109.jpg);
    background-size: contain;
    background-color: transparent;

    .left-section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        color: #fff;
      }
  
      p{
        color: #fefefe; 
      }
    }
    .right-section {
      display: flex;
      border:1px solid red;

      img {
        max-width: 80%;
      }
    }

  }
  .blog-section {
    display: flex;
    flex-direction: column;
    margin: 60px 0;
    
    .title {
      display: flex;
      justify-content: center;
      font-size: 37px;
      color: #3c4858;
      margin-bottom: 60px;
    }
    .icons {
      display: flex;
      justify-content: space-around;
      
      .name {
        font-size: 12px;
      }

      h4 {
        font-size: 18px;
      }

      .left-icon {
        display: flex;
        flex-direction: column;

          .name {
            color: #89229b;
            font-size: 12px;
          }
      }
      .middle-icon {
        display: flex;
        flex-direction: column;

          .name {
            color: #00bcd4;
            font-size: 12px;
          }
        .read-more {
          color: #23527c;
        }
      }
      .right-icon {
        display: flex;
        flex-direction: column;

          .name {
            color: #f44336;
            font-size: 12px;
          }
      } 
    }
  }
  .contact-section {
    display: flex;
    width: 100%;
    background-image: url(/images/jake\ egbert\ 4.jpg);
    background-size:unset;
    
    h2 {
      color: white;
    }
    h4 {
      color: #ffffff;
      font-size: 18px;
    }
    p {
      font-size: 14px;
      color: #eaeaea;
    }
    
    .contact-info {
      display: flex;
      flex-direction: column;
      margin: 40px 130px;
    }
  }
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background: #323437;
    width: 100%;
    padding: 30px 0 18px;

    
    .left-footer {
      display: flex;
      gap: 10px;
      
      
      a {
        color: #fff;

        &:hover {
          opacity: .86;
        }
        
      }
    }
    .right-footer {
      
      a {
        color: #fff;
      }
    }
  }
}