.whole-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.whole-page .hero-container {
  display: flex;
  flex-direction: column;
  height: 50rem;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(/images/IMG_1651.jpg);
  background-size: 5rem 10rem;
}
.whole-page .hero-container .navbar {
  height: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  padding: 7px 0;
  z-index: 10;
  box-shadow: -3px 4px 27px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 4px 27px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 4px 27px -5px rgba(0, 0, 0, 0.75);
}
.whole-page .hero-container .navbar .nav-left {
  display: flex;
  justify-content: flex-start;
  padding: 10px 3px;
  background-color: transparent;
  font-size: 18px;
}
.whole-page .hero-container .navbar .nav-right {
  display: flex;
}
.whole-page .hero-container .navbar .nav-right a {
  font-size: 12px;
  background-color: transparent;
  padding: 12px 15px;
}
.whole-page .hero-container .navbar .nav-right a:hover {
  cursor: pointer;
  color: #e91e63;
}
.whole-page .hero-container .navbar .nav-right a:last-child {
  background-color: #e91e63;
  border-radius: 18px;
  color: white;
}
.whole-page .hero-container .navbar .nav-right a:last-child:hover {
  box-shadow: 0px 5px 20px #e91e63;
}
.whole-page .hero-container .navbar .nav-right a:nth-child(3) {
  color: #e91e63;
}
.whole-page .hero-container .navbar .nav-right a:nth-child(3):hover {
  opacity: 0.86;
}
.whole-page .words-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.whole-page .words-container h1 {
  font-size: 67px;
}
.whole-page .words-container p {
  font-size: 20px;
}
.whole-page .words-container a {
  text-decoration: none;
  color: white;
  background-color: #e91e63;
  padding: 15px 33px;
  border-radius: 3px;
}

.main-section {
  height: 100%;
  width: 97%;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: gray;
  border-radius: 25px;
  margin-top: -40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
}
.main-section .above-image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
}
.main-section .above-image-section .title {
  display: flex;
  justify-content: center;
}
.main-section .above-image-section .title h2 {
  color: #3c4858;
}
.main-section .above-image-section .top-icons {
  display: flex;
  justify-content: center;
  gap: 4%;
}
.main-section .above-image-section .top-icons .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-section .above-image-section .top-icons .icon img {
  -o-object-fit: contain;
     object-fit: contain;
}
.main-section .above-image-section .top-icons p {
  font-size: 14px;
  margin: 0 0 10px;
}
.main-section .above-image-section .top-icons h5 {
  font-size: 18px;
  color: #3c4858;
}

.image-section {
  display: grid;
  max-width: 100%;
  height: 300px;
  grid-template-columns: 50% 50%;
  background-image: url(/images/DSC00109.jpg);
  background-size: contain;
  background-color: transparent;
}
.image-section .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-section .left-section h2 {
  color: #fff;
}
.image-section .left-section p {
  color: #fefefe;
}
.image-section .right-section {
  display: flex;
  border: 1px solid red;
}
.image-section .right-section img {
  max-width: 80%;
}

.blog-section {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
}
.blog-section .title {
  display: flex;
  justify-content: center;
  font-size: 37px;
  color: #3c4858;
  margin-bottom: 60px;
}
.blog-section .icons {
  display: flex;
  justify-content: space-around;
}
.blog-section .icons .name {
  font-size: 12px;
}
.blog-section .icons h4 {
  font-size: 18px;
}
.blog-section .icons .left-icon {
  display: flex;
  flex-direction: column;
}
.blog-section .icons .left-icon .name {
  color: #89229b;
  font-size: 12px;
}
.blog-section .icons .middle-icon {
  display: flex;
  flex-direction: column;
}
.blog-section .icons .middle-icon .name {
  color: #00bcd4;
  font-size: 12px;
}
.blog-section .icons .middle-icon .read-more {
  color: #23527c;
}
.blog-section .icons .right-icon {
  display: flex;
  flex-direction: column;
}
.blog-section .icons .right-icon .name {
  color: #f44336;
  font-size: 12px;
}

.contact-section {
  display: flex;
  width: 100%;
  background-image: url(/images/jake\ egbert\ 4.jpg);
  background-size: unset;
}
.contact-section h2 {
  color: white;
}
.contact-section h4 {
  color: #ffffff;
  font-size: 18px;
}
.contact-section p {
  font-size: 14px;
  color: #eaeaea;
}
.contact-section .contact-info {
  display: flex;
  flex-direction: column;
  margin: 40px 130px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: #323437;
  width: 100%;
  padding: 30px 0 18px;
}
.footer .left-footer {
  display: flex;
  gap: 10px;
}
.footer .left-footer a {
  color: #fff;
}
.footer .left-footer a:hover {
  opacity: 0.86;
}
.footer .right-footer a {
  color: #fff;
}/*# sourceMappingURL=home-page.css.map */